.container {
  max-width: 100%;
  margin: 0 auto;
  border: 0.5px solid var(--color-sectionborder);
  padding: 30px;
  background-color: var(--color-sectionbackground);
}

.label {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: block;
  margin-bottom: 16px;
  font-size: 25px;
  color: var(--color-dark);
}

.textarea {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border: 2px solid var(--color-paleskyblue);
  margin-bottom: 16px;
  min-height: 120px;
  border-radius: 8px;
  resize: vertical;
  font-size: 16px;
  padding: 16px;
  width: 100%;
}

.heading {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 30px;
  text-align: start;
  font-weight: 400;
  font-size: 20px;
}

.errortextarea {
  background-color: var(--color-warningtextarea);
  border-color: var(--color-danger);
}

.errortext {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: var(--color-danger);
}

@media (width >= 600px) {
  .container {
    max-width: 600px;
  }
}
