.gridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "leftpane form";
  gap: 1rem;
  margin-top: 25px;
}

.leftpane {
  grid-area: leftpane;
}

.formcontent {
  max-width: 60%;
}

.buttonrow {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
