.step-item {
  font-size: 1.125rem;
  font-weight: var(--font-weight-medium);
  margin-bottom: 0.9375rem;
  padding: 0.625rem 0;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--color-dark);
  text-transform: uppercase;
  border-left: 0.3125rem solid transparent;
  padding-left: 1.25rem;
}

.step-item.active {
  color: var(--color-azulblue);
  border-left: 0.3125rem solid var(--color-primary);
  transform: scale(1.08);
}

.leftpane {
  background-color: var(--color-white);
  padding: 2rem;
  border-right: 0.0625rem solid var(--color-white);
  height: 100%;
  box-sizing: border-box;
  padding-top: 3.125rem;
}

.step-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
