.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 90%;
  margin: 2rem auto;
  padding: 2rem;
  border: 0.094rem solid var(--color-paleskyblue);
  border-radius: 0.5rem;
  background-color: var(--color-white);
}

.label {
  font-weight: var(--font-weight-semi-bold);
  margin-bottom: 0.5rem;
  display: block;
}

.input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 0.0625rem solid var(--color-paleskyblue);
  border-radius: 0.375rem;
  outline: none;
}

.input:focus {
  border-color: var(--color-azulblue);
}

.error {
  color: var(--color-danger);
  font-weight: var(--font-weight-regular);
}

@media (width = 37.5rem) {
  .form {
    max-width: 37.5rem;
  }
}
