.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 90%;
  margin: 2rem auto;
  padding: 2rem;
  border: 1.5px solid var(--color-paleskyblue);
  border-radius: 8px;
  background-color: var(--color-white);
}

.label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: block;
}

.input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--color-paleskyblue);
  border-radius: 6px;
  outline: none;
}

.input:focus {
  border-color: var(--color-paleskyblue);
}

.button {
  padding: 0.75rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-paleskyblue);
}

.success {
  color: var(--color-white);
  background-color: var(--color-success); /* #28a745 */
  padding: 1rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0 2px 6px var(--color-black);
  margin: 1rem 0;
  text-align: center;
  transition: all ease;
}

.error {
  color: var(--color-danger);
  font-size: 1rem;
}

@media (width >= 600px) {
  .form {
    max-width: 600px;
  }
}
