.pagecontainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  min-height: 100vh;
}

.leftcontainer {
  align-self: center;
  display: flex;
}

.formcontainer {
  height: 30vh;
}

@media (width >= 600px) {
  .pagecontainer {
    display: grid;
    grid-template-columns: 0.35fr 0.7fr;
    align-items: baseline;
  }

  .leftcontainer {
    margin-left: 50px;
  }
}
