.wrapper {
  width: 90%;
  margin: 2.5rem auto;
  padding: 1.25rem;
  background-color: var(--color-white);
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 0.625rem var(--color-grey);
  text-align: center;
}

.iconlinecontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 1.875rem;
  padding: 0 0.625rem;
}

.line {
  position: absolute;
  top: 50%;
  left: 0.625rem;
  right: 0.625rem;
  height: 0.25rem;
  background-color: var(--color-white);
  z-index: 0;
  transform: translateY(-50%);
  border-radius: 0.125rem;
  border: 0.125rem solid var(--color-primary);
}

.iconwrapper {
  position: relative;
  z-index: 1;
  width: 2.8125rem;
  height: 2.8125rem;
  background-color: var(--color-paleskyblue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease,
    border 0.3s ease;
  cursor: pointer;
  border: 0.125rem solid var(--color-primary);
}

.iconwrapperactive {
  background-color: var(--color-white);
  border: 0.125rem solid var(--color-primary);
  transform: scale(1.3);
}

.icon {
  font-size: var(--font-size-medium);
  color: var(--color-grey);
  transition: color 0.3s ease;
}

.iconactive {
  color: var(--color-grey);
}
